@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem; /* Example radius value */
    --background: #1f1f1f; /* Background color */
    --foreground: #fcfcfc; /* Foreground color */
    --card: #1f1f1f; /* Card color */
    --card-foreground: #fcfcfc; /* Card foreground color */
    --popover: #1f1f1f; /* Popover color */
    --popover-foreground: #fcfcfc; /* Popover foreground color */
    --primary: #fcfcfc; /* Primary color */
    --primary-foreground: #171717; /* Primary foreground color */
    --secondary: #262626; /* Secondary color */
    --secondary-foreground: #fcfcfc; /* Secondary foreground color */
    --muted: #262626; /* Muted color */
    --muted-foreground: #a3a3a3; /* Muted foreground color */
    --accent: #262626; /* Accent color */
    --accent-foreground: #fcfcfc; /* Accent foreground color */
    --destructive: #a83d36; /* Destructive color */
    --destructive-foreground: #fcfcfc; /* Destructive foreground color */
    --border: #262626; /* Border color */
    --input: #262626; /* Input color */
    --ring: #d3d3d3; /* Ring color */
    --chart-1: #007bff; /* Chart color 1 */
    --chart-2: #008f8f; /* Chart color 2 */
    --chart-3: #ffcc00; /* Chart color 3 */
    --chart-4: #a56bb0; /* Chart color 4 */
    --chart-5: #ff4d4d; /* Chart color 5 */

    /* --mantine-color-body */
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --mantine-color-body: #0c0b0b;

  --affix-z-index: 1050;
}
